<!DOCTYPE html>
<html>
<head>
	<title>Health Insurance Cross Sell Prediction</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<!-- calling local CSS -->
    <link rel="stylesheet" href="../static/layout.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
	<div id="main">
		<div id="header">
			<div class="heading1">
    			 <span class="type">Water Quality Prediction</span>
			</div>
		</div>
		<div id="content">
			<div class="row">
			 	<div class="col-md-3">&nbsp;</div>
            	<div class="col-md-6 loginbox " >
                	<form name="Prediction" id="Prediction" >
						{%if data == 0%}
							<img src="../static/img/nonpotable.jpg">
			  			{%else%}
						  	<img src="../static/img/potable.jpg">
						{%endif%}
						<br> <br><br>
						<table style="width: 100%;">
							<tr>
								<td> 
									<button  name="button" id="button1" class="button1" style="background-color:rgb(103, 148, 214); font-size: 40px; "><a href="{{url_for('man')}}">HOME</a></button>
								</td>
								<td>
									
									<button  name="button" id="button1" class="button1" style="background-color:rgb(103, 148, 214); font-size:40px;"><a href="{{url_for('ma')}}">BACK</a></button>
									
								</td>
							</tr>
							
						</table>
                	</form>
           		 </div>
           		<div class="col-md-3">&nbsp;</div>
        	</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>
