
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>QH2O- Water Quality Prediction</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css" /> -->
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" />
        <!--<link rel="stylesheet" href="css/fontAwesome.css" /> -->
        <link rel="stylesheet" href="../static/css/fontAwesome.css" />
        <!--<link rel="stylesheet" href="css/light-box.css" /> -->
        <link rel="stylesheet" href="../static/css/light-box.css" />
        <!--<link rel="stylesheet" href="css/owl-carousel.css" /> -->
        <link rel="stylesheet" href="../static/css/owl-carousel.css" />
        <!--<link rel="stylesheet" href="css/templatemo-style.css" /> -->
        <link rel="stylesheet" href="../static/css/templatemo-style.css" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#projects">Importance</a></li>
                        <li><a href="#featured">Parameters</a></li>
                        <li><a href="#video">Prediction</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">Q<em>H2O</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Importance
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Parameters
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Prediction
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Improve your<em style="color:aqua;"> Water</em></h1> <br> <h1>Improve your <em style="color:aqua;">Life</em></h1>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                    
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>The importance of water quality<br><em>in beverages</em></h1>
                    
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="../static/img/portfolio_big_1.png" data-lightbox="image"><img src="../static/img/portfolio_1.png" alt="image 1"></a>
                                </div>
                            </div>
                            <div class="item second-item">
                                <div class="col-md-4">
                                    <img src="../static/img/portfolio_9.jpg" alt="image 2">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <img src="../static/img/portfolio_5.jpg" alt="image 3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Water Quality<br><em>Parameters</em></h1>
                    <p>Water quality parameters include chemical, physical, and biological properties and can be tested or monitored based on the desired water parameters of concern. 
                    <br>Parameters that are frequently sampled or monitored for water quality include pH, hardness, solids, chloramine, salfate, conductivity, organic carbon, trihalomethanes and turbidity. </p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_1.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">PH VALUE</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>pH of water</h4>
                                <p>The pH of water is an important metric in determining its acid–base balance. It can also be used to determine if the water is acidic or alkaline. The pH maximum allowable limit has been set at 6.5 to 8.5 by the WHO. </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_2.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">HARDNESS</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Capacity of water to precipitate soap in mg/L</h4>
                                <p>Calcium and magnesium salts are the main causes of hardness. These salts are dissolved in water as it passes through geologic layers.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_3.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">SOLIDS</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Total dissolved solids in ppm</h4>
                                <p>Potassium, calcium, sodium, bicarbonates, chlorides, magnesium, sulphates, and other inorganic and organic minerals or salts can all be dissolved in water. These minerals gave the water an unpleasant taste and a diluted tint.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_4.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">CHLORAMINES</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Amount of Chloramines in ppm</h4>
                                <p>The main disinfectants used in public water systems are chlorine and chloramine. When ammonia is added to chlorine to purify drinking water, chloramines are generated.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_5.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">SALFATE</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Amount of Sulfates dissolved in mg/L</h4>
                                <p>Minerals, soil, and rocks all include sulphates, which are naturally occurring compounds. They can be found in the environment, groundwater, plants, and food. Sulfate's main commercial application is in the chemical industry. </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_6.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">CONDUCTIVITY</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Electrical conductivity of water in μS/cm</h4>
                                <p>Pure water is a good insulator rather than a good conductor of electric current. The electrical conductivity of water improves as ions concentration rises.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_7.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">ORGANIC CARBON</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Amount of organic carbon in ppm</h4>
                                <p>Total Organic Carbon (TOC) in source waters comes from decaying natural organic matter (NOM) as well as synthetic sources. TOC is a measure of the total amount of carbon in organic compounds in pure water.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_8.png" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">TRIHALMOTHANES </a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Amount of Trihalomethanes in μg/L</h4>
                                <p>THMs are compounds that can be found in chlorine-treated water. THM levels in drinking water vary depending on the amount of organic matter in the water, the amount of chlorine needed to treat the water, and the temperature of the water being treated.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="../static/img/featured_9.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">TURBIDITY</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Measure of light emiting property of water in NTU</h4>
                                <p>The amount of solid stuff in the suspended state determines the turbidity of water. It is a test that determines the quality of waste discharge in terms of colloidal matter by measuring the light emitting properties of water.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accent-button button">
                        <a href="#blog">Continue Reading</a>
                    </div>
                </div>
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Water Quality <em>Prediction</em></h1>
                            <p>Using this you can get water quality prediction.</p>
                            <div class="accent-button button">
                                <a href="{{url_for('ma')}}">Predict</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <video width="100%" height="500" controls>
                                <source src="../static/img/video1.mp4" type="video/mp4">
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="contact" class="content-section">
                <div>
                    <br><br>
                </div>
                <div id="map">
                
                	<!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651.3799123948087!2d79.84377940356315!3d6.932211210319971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25925ab4dc561%3A0xeb35822a3ace0857!2sWorld%20Trade%20Center!5e0!3m2!1sen!2slk!4v1630254313294!5m2!1sen!2slk"  width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Contact<br><em>QH2O</em></h1>
                        <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum. 
                        <br>Phasellus luctus odio eget dui imperdiet.</p>
                        
                    </div>
                    <div class="section-content">
                        <form id="contact" action="#" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-4">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="footer">
                
                <a href="#"><i class="fa fa-facebook"> QH2O</i></a>
                <a href="#"><i class="fa fa-twitter">QH2O</i></a>
                <a href="#"><i class="fa fa-linkedin">QH2O</i></a>
                <a href="#"><i class="fa fa-rss">QH2O</i></a>
                <a href="#"><i class="fa fa-behance">QH2O</i></a>
                
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js'"></script>')</script>  

    <script src="../static/js/vendor/bootstrap.min.js"></script>
    
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>